/* Подключение Gilroy */
@font-face {
	font-family: 'Gilroy';
	src:
		url('../fonts/gilroyextrabold.woff2') format('woff2'),
		url('../fonts/gilroyextrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src:
		url('../fonts/gilroylight.woff2') format('woff2'),
		url('../fonts/gilroylight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:
       url('../fonts/opensans-light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/opensans-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Подключение Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/opensans-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/opensans-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*Кастомные свойства и глобальные стили*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-gray: #464646;
  --basic-neutral-gray: #F2F2F2;
  --basic-semi-gray: #EAEAEA;
  --basic-gray-dark: #DCDCDC;
  --basic-half-gray: #7E7E7E;
  --basic-gray-light: #E5E5E5;
  --basic-gray-semilight: #EBEBEB;
  --special-yellow: #F7E296;
  --special-yellow-decorative: #FFC600;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --status-pink: #F6DADA;
}

body { margin: 0; max-width: 1440px;}
*, *::before, *::after { box-sizing: border-box; }
a {text-decoration: none; }

.wrapper {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', 'Verdana', sans-serif; /* Задаем Open Sans в общем контейнере, т.к он чаще всего будет встречаться  */
  font-weight: 300;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.page {
  height: 100%;
}

.page-body {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Стилизация шапки */

.header-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content 1fr 1fr;
  background: linear-gradient(to bottom,var(--basic-white) 0%, transparent 21%,  var(--special-yellow) 21%);
}

.catalog-page-gradient {
  background: linear-gradient(to bottom,var(--basic-white) 0%, transparent 18%,  var(--special-yellow) 18%);
}

.header-wrapper a {
  margin-top: 20px;
  margin-left: 58px;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.header-row-wrapper {
  display: flex;
  margin-top: 10px;
  margin-left: 60px;
}


.header-search-bar {
  padding-left: 36px;
  font-size: 15px;
  line-height: 20px;
  background: none; /*отключение стандартного фона для input */
  background-image: url(../img/search.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.header-links-list {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  margin-left: 325px;
  list-style: none;
}

.link-logout {
  margin-left: 20px;
}

.header-links-list li a {
  margin-left: 0;
}

.header-links-list li:nth-child(3) {
  margin-left: 131px;
}

.header-links-list li:last-child {
  margin-right: 2px;

}





/* шапка: стилизация иконок для ссылок */
.icon-user::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 8px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 3px;
  background-size: 10px;
}

.icon-compare::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 12px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.icon-cart::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 12px;
  background-image: url(../img/cart.svg);
  background-size: 82%;
  background-repeat: no-repeat;
  background-position: bottom;
}


.header-navigation-menu-wrapper {
  padding-top: 27px;
  padding-left: 2px;
  padding-right: 57px;
}

.header-navigation-menu {

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}


.header-navigation-menu-list-item a {
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-navigation-menu-list-item.icon-plus a {
  letter-spacing: 0.1em;
}

.icon-plus::after {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.3;
}

.header-navigation-menu li:nth-child(2) {
  margin-left: auto;
  margin-right: -23px;
}

.header-navigation-menu li:nth-child(3) {
  margin-right: 49px;
}

.header-navigation-submenu {
  display: none;
}


/*стилизация слайдера*/

.slider {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,var(--special-yellow) 31%, transparent 31%,  var(--basic-white) 31%);
}

.slider::before {
  content: '';
  position: absolute;
  top: 63px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slider-element {
  display: flex;
  padding-top: 29px;
  padding-left: 89px;

}

.slider-element-wrapper {
  display: flex;
  padding-top: 93px;
  padding-left: 126px;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.slider-element-number {
  position: absolute;
  top: 0;
  right: 47px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 183px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-element-header {
  margin: 0;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-element-description {
  margin: 0;
  margin-top: 26px;
  font-size: 15px;
  line-height: 20px;
}

.slider-table {
  margin-top: 58px;
  order: 1;
}

.slider-table-detail:nth-child(2) {
  padding-left: 7px;
}

.slider-table-detail {
  width: 83px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-table-detail-name {
  padding-top: 13px;
  padding-left: 6px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-table-detail-name:first-child {
  padding-left: 0;
}

.slider-element-get-details {
  align-self: flex-start;
  margin-top: 62px;
  margin-left: 2px;
  min-width: 220px;
  order: 0;
  text-align: center;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.slider-navigation {
  position: absolute;
  right: 90px;
  bottom: 138px;
  list-style: none;
  z-index: 10;
}

.slider-navigation li {
  margin-left: 14px;
}

.slider-navigation-bullet {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/slider-button-empty.svg);
  background-size: 100%;
}

.slider-navigation-bullet button {
  position: absolute;
  width: 12px;
  height: 12px;
  border: none;
  background: transparent;
  z-index: 1;
}

.selected-bullet {
  background-image: url(../img/slider-button.svg);
}


.second-slider-element {
  padding-top: 55px;
  padding-left: 115px;
}

.second-slider-element .slider-element-number {
  top: -29px;
  right: 55px;
}

.second-slider-element .slider-element-wrapper {
  padding-top: 67px;
  padding-left: 140px;
}


.third-slider-element {
  padding-left: 0;
}

.third-slider-element img {
  margin-top: 85px;
  margin-left: 30px;
}

.third-slider-element .slider-element-wrapper {
  padding-left: 42px;
  z-index: 5;
}

.third-slider-element .slider-element-number {
  right: 55px;
  z-index: -2;
}

.third-slider-element .slider-table-detail:last-child {
  padding-right: 218px;
}

/*Стилизация раздела "Популярные категории товаров"*/

.feature-products {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 113px;
}

.feature-products li {
  margin-left: 40px;
}

.feature-products li:first-child {
  margin: 0;
}

.feature-product-image {
  background-color: var(--special-yellow-light);
}

.product-image-vr {
  padding-top: 52px;
  padding-right: 31px;
  padding-bottom: 53px;
  padding-left: 31px;
}

.product-image-selfie-monopod {
  padding-top: 26px;
  padding-right: 37px;
  padding-bottom: 17px;
  padding-left: 37px;
}

.product-image-action-camera {
  padding-top: 36px;
  padding-right: 45px;
  padding-bottom: 36px;
  padding-left: 44px;
}

.feature-product-description {
  margin: 0;
  margin-top: 35px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.feature-product-description-fitness-bracelet {
  letter-spacing: inherit;
}


.product-image-fitness-bracelet {
  padding-top: 48px;
  padding-right: 26px;
  padding-bottom: 47px;
  padding-left: 27px;
}

.product-image-smart-watch {
  padding-top: 31px;
  padding-right: 52px;
  padding-bottom: 31px;
  padding-left: 52px;
}

.product-image-drone {
  padding-top: 46px;
  padding-right: 14px;
  padding-bottom: 45px;
  padding-left: 14px;
}



/*Стилизация раздела "Сервисы"*/

.services {
  padding-bottom: 65px;
  background: linear-gradient(to bottom,var(--basic-white) 0%, transparent 26%,  var(--basic-gray-light) 26%);
}

.services-wrapper {
  display: flex;
  margin-top: 84px;
}

.services-headings-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 283px;
  margin: 0;
  padding: 0;
  height: 320px;
  padding-top: 80px;
  padding-left: 0px;
  /* padding-right: 116px; */
  border-right: 7px solid black;
  list-style: none;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item {
  display: flex;
  padding-top: 72px;
  padding-left: 116px;
}


.service-header {
  margin: 0;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-item-description {
  margin-top: 41px;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-item-selector {
  display: block;
  min-width: 160px;
  margin-top: 30px;
  border: none;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.service-item-selector:first-child {
  margin-top: 0;
}

.service-item-selector:last-child {
  margin-top: 37px;
}



.service-image-delivery {
  margin-left: 131px;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.service-image-warranty {
  width: 191px;
  height: 195px;
  background-image: url(../img/warranty.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.service-image-credit {
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
}

/*Раздел с представленными брендами*/

.brands-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 95px;
  padding-left: 180px;
  list-style: none;
}

.brands-list-item {
  margin-left: 40px;
}

.brands-list-item:first-child {
  margin-left: 0;
}

/*Стилизация разделов "О нас", "Контакты"*/


.about-us-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 144px;
  margin-bottom: 86px;
}

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-us::before, .contacts::before {
  content: '';
  position: absolute;
  top: -60px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}


.about-us-header {
  margin: 0;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p {
  margin: 0;
  margin-top: 40px;
  font-size: 15px;
  line-height: 28px;
}

.about-us p:first-of-type {
    margin-top: 39px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  margin-top: 63px;
  list-style: none;
}

.about-us-list-item {
  margin-top: 23px;
}

.about-us-list-item:first-child {
  margin: 0;
}

.about-us-list-item a {
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: var(--basic-black);
}

.about-us-list-item::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../img/list-item.svg);
  margin-bottom: 4px;
  margin-right: 20px;
}

.about-us-details {
  align-self: flex-start;
  min-width: 260px;
  margin-top: 84px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts-header {
  margin: 0;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  margin-top: 38px;
  font-size: 15px;
  line-height: 28px;
}

.map-image {
  display: block;
  margin-top: 27px;
}

.contacts-write-us {
  align-self: flex-start;
  min-width: 260px;
  margin-top: 83px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

/*Стилизация подвала*/

.footer {
  position: relative;
  background-color: var(--basic-dark);
  padding-top: 46px;
  padding-bottom: 50px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 22px 32px;
  row-gap: 41px;
  padding-bottom: 40px;
}

.footer-row-wrapper {
  display: flex;
  justify-content: space-between;
}


.footer-row-wrapper:first-child {
  justify-content: space-between;
}

.footer-row-wrapper:last-child {
  padding-top: 25px;
  justify-content: center;
}



.footer-links-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links-list li {
  margin-right: 50px;
}

.footer-links-list li:last-child {
  margin: 0;
}


.footer a {
  color: var(--basic-white);
}

.footer-menu-link {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;

}

.footer-address {
  font-size: 15px;
  line-height: 20px;
  margin-right: 165px;
}

.footer-phone-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.footer-navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-left: 45px;
  padding-right: 20px;
  list-style: none;
}

.footer-social-list li {
  margin-right: 20px;
}

.footer-social-list li:last-child {
  margin: 0;
}




.footer-navigation-menu-item {
  margin-left: 33px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}


.footer-navigation-menu li:first-child {
  margin: 0;
}

.social-icon {
  width: 32px;
  height: 32px;
}

li.login-link-unclude-position {
  margin-right: 20px;
}

.footer-icon-user {
  margin-right: 9px;
}

.footer-icon-compare {
  margin-right: 9px;
}


.icon-facebook {
  background-image: url(../img/fb.svg);
}

.icon-instagram {
  background-image: url(../img/instagram.svg);
}

.icon-twitter {
  background-image: url(../img/twitter.svg);
}

.icon-html-academy {
  margin-left: auto;
  width: 27px;
  height: 34px;
  background-image: url(../img/logo-html.svg);
}

.svg-fill, .svg-fill path {
  fill: var(--special-yellow-dark);
}

.footer-logo-device {
  margin-top: 17px;
}

.footer-address {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}

.footer::before {
  content: '';
  position: absolute;
  bottom: 79px;
  left: 180px;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-decorative);
}

/*Стилизация страницы catalog.html */

.position-container {
  padding-left: 160px;
  background: linear-gradient(to bottom,var(--basic-gray-dark) 0%, var(--basic-gray-dark) 5.5%,  var(--basic-gray-light) 5.5%);
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
}

.catalog-row-wrapper {
  display: flex;
}

.header-wrapper-catalog-position {
  padding-bottom: 45px;
}

ul.header-links-list li.icon-position {
  margin-left: 0px;
}

.icon-position {
  margin-right: 40px;
}

.icon-logout-position {
  margin-right: auto;
}
/*Стилизация секции с хлебными крошками */

.breadcrumb-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 43px;
  padding-left: 60px;
}

.breadcrumb-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 31px;
}

.breadcrumb-menu-header {
  margin: 0;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumb-menu-list {
  list-style: none;
}

.breadcrumb-menu-list-item {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumb-menu-list-item:first-child {
  margin-left: 0;
}



.breadcrumb-menu-list-item:not(:last-child)::after {
  position: absolute;
  top: 2px;
  right: -25px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

/*Стилизация списка товаров*/

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--basic-white);
}

.product-list {
  display: grid;
  grid-template-columns: 362px 362px;
  column-gap: 38px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-left: 74px;
  flex-grow: 1;
  list-style: none;

}

.product-list-item {
    position: relative;
}

.product-list-item img {
  margin-bottom: 30px;
}

.product-list-item span {
  margin-top: 2px;
  margin-left: auto;
}

.product-list-item:first-child span {
  margin-left: 20px;
}

.product-list-item p {
  margin: 0;
}

.product-list-item a {
  display: flex;
  flex-wrap: wrap;
}

.product-list-item:last-child::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 62px;
  height: 62px;
  background-image: url(../img/new-sticker.svg);
}

.cost-range {
  position: relative;
  -webkit-appearance: none; /*Обнуляем стандартные стили input с type="range" */
  width: 200px;
  height: 2px;
  margin-top: 40px;
  margin-left: 15px;
  background-color: var(--basic-black);
}

.cost-range::-webkit-slider-thumb {
    -webkit-appearance: none; /*Обнуляем стандартные стили input с type="range" */
}

.cost-range::before {
  position: absolute;
  top: -9px;
  content: '';
  width: 133px;
  height: 22px;
  background-image: url(../img/filter-button.svg), url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: left, right;
  z-index: 3;
}

.cost-range::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 119px;
  height: 2px;
  background-color: var(--special-green);
}

.cost-range-value {
  margin-left: 14px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}


.cost-range-values-wrapper span:last-child {
  margin-left: 69px;
}

.product-filter-color-picker {
  margin-top: 50px;
}

.product-filter-color-picker .product-filter-header {
  margin-left: 0;
}


.product-description {
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*стилизация фильтра товаров */

.filter-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 348px;
  background-color: var(--basic-gray-dark);
}

.filter-text {
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-heading .filter-text {
  margin-right: 111px;
}

.product-filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 445px;
  padding-top: 80px;
  padding-left: 65px;
  background-color: var(--basic-gray-light);
}

.product-filter-form fieldset {
  border: none;
}

.product-filter-header {
  position: relative;
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}


.product-filter-header::before {
  position: absolute;
  top: -17px;
  content: '';
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);

}

.product-filter-color-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.product-filter-color-list li {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.product-filter-color-list li:first-child {
  margin-top: 25px;
}


.product-filter-color-list-label {
  height: 24px;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  padding-left: 42px;
  font-size: 14px;
  line-height: 19px;
}

input:checked + .product-filter-color-list-label {
    background-image: url(../img/checkbox-on.svg);
}

.product-filter-bluetooth-picker {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    padding-top: 10px;
}

.product-filter-bluetooth-picker .product-filter-header {
  padding-top: 2px;
  margin-left: 0;
}

.product-bluetooth-label {
  display: inline-block;
  margin-top: 17px;
  padding-left: 40px;
  height: 26px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.product-bluetooth-label:first-child {
  margin-top: 0;
}

input:checked + .product-bluetooth-label {
  background-image: url(../img/radio-on.svg);
}

.product-filter-show {
  position: relative;
  min-width: 200px;
  margin-top: 35px;
  margin-left: 11px;
  background: none; /*отключение стандартного фона у button*/
  border: none; /*отключение стандартных рамок у button*/
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 1;
}

.sort {
  flex-grow: 1;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
  padding-right: 40px;
  list-style: none;
  background-color: var(--basic-gray-light);
}

.sort-list-item {
  margin-left: 20px;
}

.sort-list-item:nth-child(2) {
  margin-left: 65px;
}

.sort-list-item:first-child {
  margin-left: 0;
}

.sort-list-item:last-child {
  margin-right: 142px;
  margin-left: 0;
}




.sort-button {
  font-family: 'Open Sans';
  background: none;
  border: none;
  font-size: 14px;
  line-height: 19px;
}

.ascending-button {
  margin-left: auto;
  margin-right: 16px;
}

.catalog-navigation-wrapper {
  margin-right: 140px;
  padding-left: 72px;
}

.catalog-navigation-list {
  display: flex;
  margin-top: 41px;
  margin-bottom: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  background-color: var(--basic-gray-semilight);
}


.catalog-navigation-list-item {
  margin-left: 30px;
}

.catalog-navigation-list-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

.catalog-navigation-list-item:last-child {
  margin-left: 237px;
}

/*Стилизация popup */


.popup-feedback {
  position: fixed;
  top: 90px;
  left: calc(50% - 480px);
	width: 960px;
	height: 550px;
  background-color: var(--basic-white);
  z-index: 20;
}

.popup-feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 92px;
  padding-left: 100px;
  padding-right: 100px;
}

.popup-feedback-form p {
  margin: 0;
  padding: 0;
}

.popup-feedback-form input, .popup-feedback-form textarea {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  border: none;
  color: var(--basic-black);
  background-color: var(--basic-neutral-gray);
  opacity: 0.4;
}

.popup-feedback-form input {
  margin-top: 10px;
  margin-bottom: 32px;
  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.popup-feedback-form textarea {
  margin-top: 10px;
  padding-top: 16px;
  padding-left: 20px;
  resize: none;
}

.popup-feedback-close-button, .popup-map-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: var(--special-yellow);
  background-image: url(../img/modal-close.svg);
  opacity: 0.5;
}

.popup-feedback-item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.popup-feedback-form label {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.popup-textarea {
  width: 100%;
}



.popup-feedback-form button {
  display: block;
  margin-top: 54px;
  border: none;
  background: none;
  background:  linear-gradient(transparent 30%, var(--special-yellow-dark) 30%, var(--special-yellow-dark) 65%, transparent 65%);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.popup-map {
  position: fixed;
  top: 90px;
  left: calc(50% - 480px);
  width: 994px;
  height: 593px;
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.popup-map-close-button {
  right: 36px;
}


/*Стилизация состояний*/

button.selected-button {
  height: 40px;
  padding-left: 19px;
  background: var(--basic-black);
  color: var(--special-yellow);
  text-align: left;
  align-self: stretch;
}

.interactive-element-idle {
  background:  linear-gradient(transparent 30%, var(--special-yellow-dark) 30%, var(--special-yellow-dark) 65%, transparent 65%);
}

.header a:hover {
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.footer a:hover {
  opacity: 1;
}

.footer a:active {
  opacity: 0.3;
}

.social-icon:hover {
    opacity: 0.6;
}

.social-icon:active {
  opacity: 0.1;
}

.hover-effect:hover {
  background-color: var(--special-yellow-dark);
  transition: 0.2s ease-out;
}

.hover-effect:active {
  background: none;
  background-color: var(--basic-black);
  color: var(--special-yellow);
  opacity: 1;
}


.header-search-bar:hover {
  opacity: 0.6;
}


.header-search-bar:focus {
  outline: none; /*отключение стандартного outline в фокусе для input*/
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

.icon-html-academy:hover {
  opacity: 0.6;
}

.popup-feedback-close-button:hover {
  opacity: 1;
}

.popup-feedback-close-button:active {
  opacity: 0.3;
}

.popup-feedback-form input:hover, .popup-feedback-form textarea:hover {
  background-color:  var(--basic-semi-gray);
  opacity: 1;
}

.popup-feedback-form input:focus, .popup-feedback-form textarea:focus {
  outline: 2px solid var(--special-yellow);
  background-color: var(--basic-white);
  opacity: 1;
}

.popup-feedback-form input:invalid, .popup-feedback-form textarea:invalid {
  background-color: var(--status-pink);
}


/*анимации */

.top-bounce {
  animation-name: top-bounce;
  animation-duration: 1s;
}

@keyframes top-bounce {
  from {top: -2000px}
  50% {top: 200px}
  100% {top: 90px}
}
