/*Кастомные свойства и глобальные стили*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-semilight: #EBEBEB;
  --special-yellow: #F7E296;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --status-pink: #F6DADA;
}


body { margin: 0; max-width: 1440px; }
*, *::before, *::after { box-sizing: border-box; }
a {text-decoration: none; }

.wrapper {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans'; /* Задаем Open Sans в общем контейнере, т.к он чаще всего будет встречаться  */
  font-weight: 300;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/* Стилизация шапки */

.header-wrapper {
  background-color: var(--special-yellow);
}

.header-wrapper a {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.header-search-bar {
  padding-left: 22px;
  font-size: 15px;
  line-height: 20px;
  background: none; /*отключение стандартного фона для input */
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  color: var(--basic-black);
  opacity: 0.3;
}



/* шапка: стилизация иконок для ссылок */
.icon-user::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.icon-compare::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.icon-cart::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 14px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}


.header-navigation-menu {
  list-style: none;

}

.header-navigation-menu-list-item a {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.icon-plus::after {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.3;

}

.header-navigation-submenu {
  display: none;
}


/*стилизация слайдера*/

.slider {
  list-style: none;
}

.slider-element-number {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
}

.slider-element-header {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-element-description {
  font-size: 15px;
  line-height: 20px;
}

.slider-table-detail {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-table-detail-name {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-element-get-details {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider-navigation {
  list-style: none;
}

.slider-navigation-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/slider-button-empty.svg);
  background-size: 100%;
}

.slider-navigation-bullet:first-child {
  background-image: url(../img/slider-button.svg);
}

/*Стилизация раздела "Популярные категории товаров"*/

.feature-products {
  list-style: none;
}

.feature-product-image {
  background-color: var(--special-yellow-light);
}

.feature-product-description {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

/*Стилизация раздела "Сервисы"*/

.services-list {
  list-style: none;
}

.service-header {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-item-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-item-selector {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.service-image-delivery {
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.service-image-warranty {
  width: 171px;
  height: 195px;
  background-image: url(../img/warranty.svg);
}

.service-image-credit {
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
}

/*Раздел с представленными брендами*/

.brands-list {
  list-style: none;
}

/*Стилизация разделов "О нас", "Контакты"*/

.about-us-header {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p {
  font-size: 15px;
  line-height: 28px;
}

.about-us-list {
  list-style: none;
}

.about-us-list-item a {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 22px;
  color: var(--basic-black);
}

.about-us-list-item::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../img/list-item.svg);
  margin-bottom: 4px;
  margin-right: 24px;
}

.about-us-details {
  position: relative;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}



.contacts-header {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  font-size: 15px;
  line-height: 28px;
}

.map-image {
  display: block;
}

.contacts-write-us {
  position: relative;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Стилизация подвала*/

.footer {
  background-color: var(--basic-dark);
}

.footer a {
  color: var(--basic-white);
}

.footer-menu-link {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;

}

.footer-address {
  font-size: 15px;
  line-height: 20px;
}

.footer-navigation-menu {
  list-style: none;
}

.footer-social-list {
  list-style: none;
}

.footer-navigation-menu-item {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.social-icon {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.icon-facebook {
  background-image: url(../img/fb.svg);

}

.icon-instagram {
  background-image: url(../img/instagram.svg);
}

.icon-twitter {
  background-image: url(../img/twitter.svg);
}

.icon-html-academy {
  display: inline-block;
  width: 27px;
  height: 34px;
  background-image: url(../img/logo-html.svg);
}

.footer-logo-device {
  fill: var(--special-yellow-dark);
}

.footer-address {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}


/*Стилизация страницы catalog.html */

/*Стилизация секции с хлебными крошками */

.breadcrumb-menu-header {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumb-menu-list {
  list-style: none;
}

.breadcrumb-menu-list-item {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumb-menu-list-item::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

/*Стилизация списка товаров*/

.product-list {
  list-style: none;
}

.cost-range {
  position: relative;
  -webkit-appearance: none; /*Обнуляем стандартные стили input с type="range" */
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
}

.cost-range::-webkit-slider-thumb {
    -webkit-appearance: none; /*Обнуляем стандартные стили input с type="range" */
}

.cost-range::before {
  position: absolute;
  top: -9px;
  content: '';
  width: 94px;
  height: 22px;
  background-image: url(../img/filter-button.svg), url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: left, right;
  z-index: 3;
}

.cost-range::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 94px;
  height: 2px;
  background-color: var(--special-green);
}

.cost-range-value {
  font-size: 14px;
  line-height: 16px;

}


.product-description {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*стилизация фильтра товаров */

.filter-text {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-filter-form {
  background-color: var(--basic-grey-light);
}

.product-filter-form fieldset {
  border: none;
}

.product-filter-header {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}


.product-filter-color-list {
  list-style: none;
}



.product-filter-color-list-label {
  height: 24px;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  padding-left: 42px;
  font-size: 14px;
  line-height: 19px;
}

input:checked + .product-filter-color-list-label {
    background-image: url(../img/checkbox-on.svg);
}

.product-bluetooth-label {
  display: inline-block;
  height: 26px;
  font-size: 14px;
  line-height: 19px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  padding-left: 32px;
}

input:checked + .product-bluetooth-label {
  background-image: url(../img/radio-on.svg);
}

.product-filter-show {
  position: relative;
  background: none; /*отключение стандартного фона у button*/
  border: none; /*отключение стандартных рамок у button*/
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 1;
}

.sort-list {
  list-style: none;
  background-color: var(--basic-grey-light);
}

.sort-button {
  background: none;
  border: none;
  font-size: 14px;
  line-height: 19px;
}

.catalog-navigation-list {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  background-color: var(--basic-grey-semilight);
}

/*Стилизация popup */

.popup-feedback, .popup-map {
  display: none;
}


/*Стилизация состояний*/

.header a:hover {
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.footer a:hover {
  opacity: 1;
}

.footer a:active {
  opacity: 0.3;
}

.social-icon:hover {
    opacity: 0.6;
}

.social-icon:active {
  opacity: 0.1;
}

.hover-effect:hover {
  background-color: var(--special-yellow-dark);
}

.hover-effect:active {
  background-color: var(--basic-black);
  color: var(--special-yellow);
}


.header-search-bar:hover {
  opacity: 0.6;
}


.header-search-bar:focus {
  outline: none; /*отключение стандартного outline в фокусе для input*/
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

.icon-html-academy:hover {
  opacity: 0.6;
}
